.main-article {
    padding-top: 70px;
    color: $secondary-font-color;
    .container {
        article {
            h1 {
                font-size: 200%;
                padding: 3% 0;
                text-align: center;
                line-height: 1.3;
            }
            .img-container { 
                width: 100%;
                margin-bottom: 3%;
                text-align: center;
                font-size: 80%;
                a {
                    color: $primary-color;
                }
                img {
                    width: 100%;
                }
            }
            .img-container--wide { 
                width: 100%;
                margin-bottom: 3%;
                text-align: center;
                font-size: 80%;
                img {
                    width: 100%;
                }
            }
            .text {
                vertical-align: text-top;
                line-height: 1.4;
                @include lhCrop(1.6);
                margin-bottom: 1%;
                ul {
                    list-style: "\1F449  " inside;
                    text-indent: 5%;
                    li {
                        margin-bottom: 10px;
                    }
                }
                p {
                    margin-bottom: 3%;
                }
                a {
                    color: $primary-color;
                }
                .lead {
                    font-weight: bold;
                    font-size: 120%;
                    margin-bottom: 4%;
                    line-height: 1.3;
                }
                h2 {
                    font-weight: bold;
                    font-size: 150%;
                    margin-bottom: 3%;
                }
                h3 {
                    font-weight: bold;
                    font-size: 120%;
                    margin-bottom: 1%;
                }
                .google-auto-placed {
                    margin-bottom: 4%;
                    border-top: 10px double black;
                    border-bottom: 10px double black;
                }
            }
            .article-footer {
                > p {
                    margin-bottom: 3%;
                }
                .article-footer-buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 3%;
                    p {
                        width: 47%;
                        text-align: center;
                        padding: 10px 2px; 
                        border: 1px solid $primary-color;
                        background-color: $main-color;
                        cursor: pointer;
                        &:hover {
                            background-color: $elevated-color;
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-portrait-up {
    .main-article {
        padding-top: 100px;
        .container {
            article {
                h1 {
                    font-size: 250%;
                }
                .text {
                    font-size: 125%;
                }
                .article-footer {
                    .article-footer-buttons {
                        p {
                            width: 45%;
                            font-size: 125%;
                            padding: 10px; 
                            border: 3px solid $primary-color;
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-up {
    .main-article {
        .container {
            article {
                .img-container {
                    float: left;
                    width: 60%;
                    margin-right: 3%;
                }
                .article-footer {
                    .article-footer-buttons {
                        p {
                            width: 45%;
                            font-size: 150%;
                            padding: 15px; 
                        }
                    }
                }
            }
        }
    }
}

@include for-desktop-up {
    .main-article {
        .container {
            article {
                .img-container {
                    width: 50%;
                }
            }
        }
    }
} 