.main-index {
    padding-top: 70px;
    .container {
        h2 {
            padding: 15px 0;
            font-size: 120%;
            color: $secondary-font-color;
        }

        .articles {
            .articles__tile {
                border-radius: 2%;
                background-color: $main-color;
                margin-bottom: 15px;
                &:hover {
                    background-color: $elevated-color;
                }
                a {
                    img {
                        width: 100%;
                        border-radius: 2% 2% 0 0;
                    }
                    h3 {
                        padding: 15px;
                        font-size: 120%;
                    }
                }
            }
        }
    }
}

@include for-tablet-portrait-up {
    .main-index {
        padding: 100px 0 140px 0;
        .container {
            h2 {
                padding: 25px 0;
                font-size: 200%;
            }
            .articles {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                .articles__tile {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@include for-tablet-landscape-up {
    .main-index {
        padding: 100px 0 50px 0;
        .container {
            .articles {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@include for-desktop-up {
} 