$main-color: #303030;
$background-color: #fff;
$elevated-color: #606060;
$primary-color: #BB86FC;
$secondary-color: #03DAC5;
    
$font-color: rgba(255, 255, 255, 0.8);
$secondary-font-color: #333;
$font: "Roboto", sans-serif;

// $main-color: #303030;
// $background-color: #101010;
// $elevated-color: #606060;
// $primary-color: #BB86FC;
// $secondary-color: #03DAC5;
    
// $font-color: rgba(255, 255, 255, 0.8);
// $font: "Roboto", sans-serif;

@mixin stripe {
    width: 100%;
    height: 70px;
    background-color: $main-color;
    @include for-tablet-portrait-up {
        height: 100px;
    }
}

@mixin lhCrop($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }