@import "reset";
@import "variables";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    font-family: $font;
    color: $font-color;
}

button { 
    font-family: $font;
    color: $font-color;
}

a {
    text-decoration: none;
    color: $font-color;
}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

.container {
    margin: 0 auto;
    width: 95%;

}

table {
    margin: auto;
    margin-bottom: 3%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: $elevated-color;
    color: $background-color;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $primary-color;
    color: $background-color;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    @include stripe;
    .container {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 100%;
        a {
            display: flex;
            align-items: center;
            height: 100%;
            img {
                height: 70%;
                border-radius: 50%;
            }
            .page-name {
                display: none;
            }
        }
        nav {
            display: flex;
            button {
                padding: 7px; 
                border: 1px solid $primary-color;
                background-color: $main-color;
                cursor: pointer;
                &:hover {
                    background-color: $elevated-color;
                }
                &.patronite {
                    margin: 0 10px;
                }
            }
        }
    }
}

footer {
    @include stripe;
    clear: left;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rights {
            font-size: 100%;
        }
        a {
            display: flex;
            align-items: center;
            height: 100%;
            img {
                height: 70%;
                border-radius: 50%;
                background-color: $elevated-color;
            }
        }
        a.policy {
            margin-left: auto;
            margin-right: 1%;
        }
    }
}      

@include for-tablet-portrait-up {
    .container {
        width: 85%;
    }

    header {
        .container {
            font-size: 125%;
            a {
                img {
                    height: 60%;
                }
                .page-name {
                    margin-left: 10px;
                    display: inline;
                }
            }
            nav {
                button {
                    padding: 10px; 
                    border: 3px solid $primary-color;                    
                    &.patronite {
                        margin: 0 15px;
                    }
                }
            }
        }
    }
    footer {
        .container {
            .rights {
                font-size: 150%;
            }
        }
    }    
}

@include for-tablet-landscape-up {
    .container {
        width: 80%;
    }

    header {
        .container {
            font-size: 150%;
            a {
                img {
                    height: 70%;
                }
                .page-name {
                    margin-left: 15px;
                }
            }
            nav {
                button {              
                    &.patronite {
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}

@include for-desktop-up {
    .container {
        width: 60%;
    }
} 

@include for-big-desktop-up {
    .container {
        width: 50%;
    }
}

@import "index";
@import "articles";